@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  color: CanvasText;
  background-color: Canvas;
}

.bdki-progress-bar-container {
  height: 100%;
  width: 100%;
}

.bdki-progress-bar-label {
  padding: 2rem;
  color: white;
  rotate: 90deg;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

